---
version: "3.8"
services:
  jore4-jore3importer:
    # build and run the docker image from the local repo
    build:
      context: ..

  importer-jooq-database:
    image: postgis/postgis:15-3.3-alpine
    container_name: importer-database
    restart: "unless-stopped"
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devdb
      - POSTGRES_PASSWORD=devdb
    ports:
      - "127.0.0.1:16000:5432"
    networks:
      - jore4

  importer-test-database:
    image: postgis/postgis:15-3.3-alpine
    container_name: importer-test-database
    environment:
      - POSTGRES_DB=importertestdatabase
      - POSTGRES_USER=importertestdatabase
      - POSTGRES_PASSWORD=importertestdatabase
    ports:
      - "127.0.0.1:17000:5432"
    networks:
      - jore4

  jore4-mssqltestdb:
    # pin compatible version of mssql schema
    image: "hsldevcom/jore4-mssql-testdb:schema-only-main--20250508-348cac964ff6a08b3776f003ddd036e4505cda18"
    # volume to easily use jore3 database dump
    volumes:
      - ../jore3dump:/mnt/jore3dump

  jore4-hasura:
    # pin compatible version of jore4 data model
    image: "crjore4prod001.azurecr.io/jore4-hsl-hasura:main-2025-12-08-40a4f283c88076a5865ec1eab5713917f09bb3c5"
networks:
    jore4:
