name: CD

on:
  push:
    branches:
      - main
      - releases/**
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run_spotless_check:
    name: Check code is formatted with Spotless
    uses: ./.github/workflows/spotless.yml

  run_java_tests:
    needs: run_spotless_check
    name: Run Java tests
    uses: ./.github/workflows/java-tests.yml

  publish_docker_image_to_acr:
    needs:
      - run_java_tests
    name: Publish Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v6
    with:
      docker_image_name: jore4-jore3-importer
      build_arm64_image: true
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  run_e2e_tests:
    name: Run E2E tests
    needs:
      - run_spotless_check
      - run_java_tests
      - publish_docker_image_to_acr
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-run-e2e.yml@main
    with:
      jore3importer_version: "${{ needs.publish_docker_image_to_acr.outputs.docker_image }}"
      start_jore3_importer: "true"
