name: Generate jooq

on:
  push:
  pull_request:
    branches: [main, releases/**]

permissions:
  contents: read

jobs:
  generate-jooq:
    name: Verifies whether generated jooq classes have been updated
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v10
        with:
          custom_docker_compose: ./docker/docker-compose.custom.yml
          start_jore3_importer: "true"

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          java-package: jdk
          architecture: x64
          distribution: temurin
          cache: maven

      - name: Run jooq class generation
        run: ./development.sh generate:jooq --no-volume

      - name: Git status and diff
        run: git status; git diff

      - name: Verify that generate generated classes are up to date
        run: '[ -z "$(git status --porcelain)" ]'
