name: Run java tests

on:
  # this workflow is only called by others, won't be executed on itself
  workflow_call:

jobs:
  run-tests:
    name: Run java tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start e2e env
        uses: HSLdevcom/jore4-tools/github-actions/setup-e2e-environment@setup-e2e-environment-v9
        with:
          custom_docker_compose: ./docker/docker-compose.custom.yml
          start_jore3_importer: "true"

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          java-package: jdk
          architecture: x64
          distribution: temurin
          cache: maven

      - name: Verify whether test postgresql db is up
        uses: HSLdevcom/jore4-tools/github-actions/healthcheck@healthcheck-v1
        with:
          # testing whether tcp port 17000 responds
          command: "pg_isready -h localhost -p 17000"

      - name: Run tests and try building a package
        run: mvn --batch-mode clean verify -Pci
